<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
<div class="auth-wrapper">

    <div class="auth-card">

        <h3 class="auth-title">Đăng nhập</h3>

        <div th:if="${param.error}" class="alert alert-danger">Sai tài khoản hoặc mật khẩu</div>
        <div th:if="${param.logout}" class="alert alert-success">Đã đăng xuất</div>

        <form th:action="@{/login}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

            <div class="mb-3">
                <label class="form-label">Tên đăng nhập</label>
                <input class="form-control" type="text" name="username" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Mật khẩu</label>
                <input class="form-control" type="password" name="password" required>
            </div>

            <button class="btn-auth w-100" type="submit">Đăng nhập</button>
        </form>

        <div class="auth-link">
            <a th:href="@{/register}">Chưa có tài khoản? Đăng ký</a>
        </div>

    </div>

</div>
</body>
</html>
